<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Approval Requests</title>
</head>
<body style="min-height: 100%;" background="../static/media/background.jpg">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;Quality Inspector</a>
      <img class="responsive-img center" src="../static/media/Logo.png" style="height:60px;width:60px;margin-left:600px;margin-top:2px;">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logoutuser">Logout</a></li>
      </ul>
    </div>
  </nav>
<div class="container" style="background:white;content-align:center;text-align:center;">
   <h4>Approval Rquests</h4>
    <table>
        <tr><th>S No.</th><th>Cost-Sheet Name</th><th>Sender</th><th>Received Date</th></tr>
{% for request in approval_requests %}
        <tr><td>{{forloop.counter}}</td><td>{{request.costsheet.name}}</td><td>{{request.sender}}</td><td>{{request.received_date}}</td></tr>
{% endfor %}
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</div>
</body>
</html>
