<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CreateSheet</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{user.email}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="collapsible.html">Logout</a></li>
      </ul>
    </div>
  </nav>
<div class="row" style="align-content: center;text-align: center;padding-left: 8%;padding-right: 8%;">
    <div style="align-content: center;text-align: center;">
        <h3>Create Cost Sheet</h3>
    </div>
    <div class="row" style="text-align: center;align-content: center;">
        <div class="row" style="text-align: center;align-content: center;">
            <div class="row">
        <div class="input-field col s6" style="padding-left: 10%;">
            <select>
                <option value="" disabled selected>Buyers</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            </div>
        <div class="input-field col s6" style="padding-right: 10%;">
                <input id="styleno" type="text" class="validate">
                <label for="styleno">Style No.</label>
        </div>
        </div>
        <div class="row" style="padding-right: 10%;padding-left: 10%;">
            <input placeholder="Date of Delivery" type="text" class="datepicker">
        </div>
        </div>
        <div style="overflow-y: scroll; height:600px;width: 80%;text-align: center;align-content: center;margin: auto;">
            <table>
                <tr>
                    <th>S No.</th>
                    <th>Raw Material</th>
                    <th>Description</th>
                    <th>Cost/Unit</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Total</th>
                    <th>Ref. no. of material</th>
                </tr>
                <tr><th colspan="8" style="background-color:grey;">Fabrics</th></tr>
                <tr id="fabric">
                    <td>1.</td>
                    <td>Fabric No. 1</td>
                    <td>Description of fabric 1</td>
                    <td>1000 Rs/m</td>
                    <td>50</td>
                    <td>m</td>
                    <td>50000</td>
                    <td></td>
                </tr>
                <tr><th colspan="8"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="8" style="background-color:grey;">Trims</th></tr>
                <tr id="trims">
                    <td>1.</td>
                    <td>Fabric No. 1</td>
                    <td>Description of fabric 1</td>
                    <td>1000 Rs/m</td>
                    <td>50</td>
                    <td>m</td>
                    <td>50000</td>
                    <td></td>
                </tr>
                <tr><th colspan="8"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="8" style="background-color:grey;">Closures</th></tr>
                <tr id="closures">
                    <td>1.</td>
                    <td>Fabric No. 1</td>
                    <td>Description of fabric 1</td>
                    <td>1000 Rs/m</td>
                    <td>50</td>
                    <td>m</td>
                    <td>50000</td>
                    <td></td>
                </tr>
                <tr><th colspan="8"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
            </table>
        </div>

        <div class="row">
            <a class="waves-effect waves-light btn-large blue"><i class="material-icons right">save</i>save</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    var dateelems = document.querySelectorAll('.datepicker');
    var dateinstances = M.Datepicker.init(dateelems);
  });
</script>
</body>
</html>
