<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CreateSheet</title>
</head>
<body>
<div class="container">
    <div style="align-content: center;text-align: center;">
        <h3>Create Cost Sheet</h3>
    </div>
    <div class="row">
        <div class="row" style="text-align: center;align-content: center;">
            <a class="waves-effect waves-light btn-large" style="width: 200px;">Add row</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light red btn-large" style="width: 200px;">Delete row</a>
            <a class="btn-floating btn-large waves-effect waves-light right red"><i class="material-icons">save</i></a>
        </div>
        <div style="overflow-y: scroll; height:600px;">
        </div>
        <div class="row">
        <div class="input-field col s6">
            <select>
                <option value="" disabled selected>Buyers</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Select Buyer</label>
            </div>
        <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">Style No.</label>
        </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>