<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CreateSheet</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{user.email}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="collapsible.html">Logout</a></li>
      </ul>
    </div>
  </nav>
<div class="row" style="align-content: center;text-align: center;padding-left: 8%;padding-right: 8%;">
    <div style="align-content: center;text-align: center;">
        <h3>Create Cost Sheet</h3>
    </div>
    <div class="row" style="text-align: center;align-content: center;">
        <div class="row" style="text-align: center;align-content: center;">
            <div class="row">
        <div class="input-field col s6" style="padding-left: 10%;">
            <select>
                <option value="" disabled selected>Buyers</option>
                {% for buyer in buyers %}
                <option value="{{buyer.buyer_name}}">{{buyer.buyer_name}}</option>
                {% endfor %}
            </select>
            </div>
        <div class="input-field col s6" style="padding-right: 10%;">
                <input id="styleno" type="text" class="validate">
                <label for="styleno">Style No.</label>
        </div>
        </div>
        <div class="row" style="padding-right: 10%;padding-left: 10%;">
            <input placeholder="Date of Delivery" type="text" class="datepicker">
        </div>
        </div>
        <div style="overflow-y: scroll; height:600px;width: 98%;text-align: center;align-content: center;margin: auto;">
            <table id=costsheettable>
                <tr><th colspan="10" style="background-color:grey;">Fabric Details</th></tr>
                <tr><th colspan="10"><i>Knit</i></th></tr>
                <tr id="knit_fabric">
                    <th>S no.</th>
                    <th>Fabric name</th>
                    <th>GSM</th>
                    <th>Content</th>
                    <th>Count</th>
                    <th>Construction</th>
                    <th>Total width</th>
                    <th>Consumption</th>
                    <th>Cost/unit</th>
                    <th>Total Cost</th>
                </tr>
                <tr id=knit_fabric_form>
                    <td id=fabricserialno>1</td>
                    <td><div class="input-field col s12"><input id="fabricname" type="text" class="validate"><label for="fabricname">fabric</label></div></td>
                    <td><div class="input-field col s12"><input id="fabricgsm" type="text" class="validate"><label for="fabricgsm">gsm</label></div></td>
                    <td><div class="input-field col s12"><input id="fabriccontent" type="text" class="validate"><label for="fabriccontent">##/##..-Abc/Abc..</label></div></td>
                    <td><div class="input-field col s12"><input id="fabriccount" type="text" class="validate"><label for="fabriccount">#x#/#x#..</label></div></td>
                    <td><div class="input-field col s12"><input id="fabricconstruction" type="text" class="validate"><label for="fabricconstruction">EPIxPPI</label></div></td>
                    <td><div class="input-field col s12"><input id="fabrictotalwidth" type="text" class="validate"><label for="fabrictotalwidth">inches</label></div></td>
                    <td><div class="input-field col s12"><input id="fabricconsumption" type="text" class="validate"><label for="fabricconsumption">metres</label></div></td>
                    <td><div class="input-field col s12"><input id="fabricperunitcost" type="text" class="validate"><label for="fabricperunitcost">Cost/m</label></div></td>
                    <td>(consumption)*(cost/m)</td>
                </tr>
                <tr><th colspan="10"><a onclick="addknitfabric(event)" class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>Woven</i></th></tr>
                <tr id="woven_fabric">
                    <th>S no.</th>
                    <th>Fabric name</th>
                    <th>GSM</th>
                    <th>Content</th>
                    <th>Count</th>
                    <th>Construction</th>
                    <th>Total width</th>
                    <th>Consumption</th>
                    <th>Cost/unit</th>
                    <th>Total Cost</th>
                </tr>
                <tr id='woven_fabric_form'>
                    <td id='wovenfabricserialno'>1</td>
                    <td><div class="input-field col s12"><input id="wovenfabricname" type="text" class="validate"><label for="wovenfabricname">fabric</label></div></td>
                    <td><div class="input-field col s12"><input id="wovenfabricgsm" type="text" class="validate"><label for="wovenfabricgsm">gsm</label></div></td>
                    <td><div class="input-field col s12"><input id="wovenfabriccontent" type="text" class="validate"><label for="wovenfabriccontent">##/##..-Abc/Abc..</label></div></td>
                    <td><div class="input-field col s12"><input id="wovenfabriccount" type="text" class="validate"><label for="wovenfabriccount">#x#/#x#..</label></div></td>
                    <td><div class="input-field col s12"><input id="wovenfabricconstruction" type="text" class="validate"><label for="wovenfabricconstruction">walesxcour..</label></div></td>
                    <td><div class="input-field col s12"><input id="wovenfabrictotalwidth" type="text" class="validate"><label for="wovenfabrictotalwidth">inches</label></div></td>
                    <td><div class="input-field col s12"><input id="wovenfabricconsumption" type="text" class="validate"><label for="wovenfabricconsumption">kg</label></div></td>
                    <td><div class="input-field col s12"><input id="wovenfabricperunitcost" type="text" class="validate"><label for="wovenfabricperunitcost">Cost/kg</label></div></td>
                    <td>(consumption)*(cost/m)</td>
                </tr>
                <tr><th colspan="10"><a onclick="addwovenfabric(event)" class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10" style="background-color:grey;">Trims</th></tr>
                <tr><th colspan="10"><i>Button</i></th></tr>
                <tr id="button_headings">
                    <th>S no.</th>
                    <th colspan="2">Button Type</th>
                    <th>Button Size</th>
                    <th>Consumption(pcs)</th>
                    <th colspan="2">Rs/pc, Rs/dozen, Rs/gross</th>
                    <th>Cost</th>
                    <th>Cost/Unit</th>
                    <th>Total Cost</th>

                </tr>
                <tr id='button_form'>
                  <td id='buttonserialno'>1</td>
                  <td colspan="2"><div class="input-field col s12"><select id='buttontype' class="browser-default"><option value="" disabled selected>Choose button type</option><option value="wooden">wooden</option><option value="plastic">plastic</option><option value="metal">metal</option></select></div></td>
                  <td><div class="input-field col s12"><input id="buttonsize" type="text" class="validate"><label for="buttonsize">Linge</label></div></td>
                  <td><div class="input-field col s12"><input id="buttonconsumption" type="text" class="validate"><label for="buttonconsumption">pcs</label></div></td>
                  <td colspan="2"><div class="input-field col s12"><select id='buttoncostunit' class="browser-default"><option value="" disabled selected>Select option</option><option value="Rs/piece">Rs/piece</option><option value="Rs/dozen">Rs/dozen</option><option value="Rs/gross">Rs/gross</option></select></div></td>
                  <td><div class="input-field col s12"><input id="buttoncost" type="text" class="validate"><label for="buttoncost">cost</label></div></td>
                  <td>Cost per piece</td>
                  <td>Total button cost</td>
                </tr>
                <tr><th colspan="10"><a onclick='addbutton(event)' class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>Zipper</i></th></tr>
                <tr id="zipper_headings">
                   <th>S no.</th>
                    <th>Zipper type</th>
                    <th>Zipper length</th>
                    <th>Consumption</th>
                    <th>Cost/Unit</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>Hook and Eye</i></th></tr>
                <tr id="hook_and_eye_headings">
                   <th>S no.</th>
                    <th>Hook and eye type</th>
                    <th>Size</th>
                    <th>Cost/pair</th>
                    <th>Consumption pairs</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>Snap Button</i></th></tr>
                <tr id="snap_button_headings">
                   <th>S no.</th>
                    <th>Button material</th>
                    <th>Linge/Material</th>
                    <th>Cost/pair</th>
                    <th>Consumption</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>Fusing</i></th></tr>
                <tr id="fusing_headings">
                   <th>S no.</th>
                    <th>Fusing Type</th>
                    <th>Description</th>
                    <th>Cost/unit(Rs/m)</th>
                    <th>Consumption</th>
                    <th>Total</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>Other trims</i></th></tr>
                <tr id="other_trims">
                    <th>S no.</th>
                    <th colspan="2">Trim name</th>
                    <th>Consumption</th>
                    <th>Cost/Unit</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>

                <tr><th colspan="10" style="background-color:grey;">Embroidery</th></tr>
                <tr id="Embroidery">
                   <th>S no.</th>
                    <th>Embroidery type</th>
                    <th>No.of stitches</th>
                    <th>Cost/(1000 stich)</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10" style="background-color:grey;">Art Work</th></tr>
                <tr id="art_works">
                    <th>S no.</th>
                    <th colspan="2">Artwork Size</th>
                    <th colspan="2">Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10" style="background-color:grey;">Labels</th></tr>
                <tr><th colspan="10"><i>Main Label</i></th></tr>
                <tr id="main_label">
                   <th>S no.</th>
                    <th>Label type</th>
                    <th>Text type</th>
                    <th>Dimension</th>
                    <th>Cost/Unit</th>
                    <th>No. of piece</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>SCOO label</i></th></tr>
                <tr id="scoo_label">
                   <th>S no.</th>
                    <th>Label type</th>
                    <th>Text type</th>
                    <th>Dimension</th>
                    <th>Cost/Unit</th>
                    <th>No. of piece</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>Wash Care label</i></th></tr>
                <tr id="wash_care_label">
                   <th>S no.</th>
                    <th>Label type</th>
                    <th>Text type</th>
                    <th>Dimension</th>
                    <th>Cost/Unit</th>
                    <th>No. of piece</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10"><i>Cost label</i></th></tr>
                <tr id="cost_label">
                   <th>S no.</th>
                    <th>Label type</th>
                    <th>Text type</th>
                    <th>Dimension</th>
                    <th>Cost/Unit</th>
                    <th>No. of piece</th>
                    <th>Total Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="10" style="background-color:grey;">Other</th></tr>
                <tr id="other">
                    <th colspan="3">Name</th>
                    <th colspan="3">Description</th>
                    <th colspan="3">Cost</th>
                </tr>
                <tr><th colspan="10"><a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>add</a></th></tr>
                <tr><th colspan="7">TTL cost(if Any)</th><th colspan="3"><div class="input-field col s12"><input id="ttlcost" type="number" step="0.01" class="validate"><label for="ttlcost">Cost</label></div></th></tr>
                <tr><th colspan="7">Stitching</th><th colspan="3"><div class="input-field col s12"><input id="stitching" type="number" step="0.01" class="validate"><label for="stitching">Cost</label></div></th></tr>
                <tr><th colspan="7">Packaging Cost</th><th colspan="3"><div class="input-field col s12"><input id="packaging_cost" type="number" step="0.01" class="validate"><label for="packaging_cost">Cost</label></div></th></tr>
                <tr><th colspan="7">Finishing Cost</th><th colspan="3"><div class="input-field col s12"><input id="finishing_cost" type="number" step="0.01" class="validate"><label for="finishing_cost">Cost</label></div></th></tr>
                <tr><th colspan="7">Total</th><th colspan="3"><div class="input-field col s12"><input id="total" type="number" step="0.01" class="validate"><label for="total">Cost</label></div></th></tr>
                <tr><th colspan="7">Mark up</th><th colspan="3"><div class="input-field col s12"><input id="markup" type="number" step="0.01" class="validate"><label for="markup">Cost</label></div></th></tr>
                <tr><th colspan="7">Factory FOB</th><th colspan="3"><div class="input-field col s12"><input id="factory_fob" type="number" step="0.01" class="validate"><label for="factory_fob">Cost</label></div></th></tr>
                <tr><th colspan="7"><h5>Client FOB</h5></th><th colspan="3"><div class="input-field col s12"><input id="client_fob" type="number" step="0.01" class="validate"><label for="client_fob">Cost</label></div></th></tr>
            </table>
        </div>

        <div class="row">
            <a class="waves-effect waves-light btn-large blue"><i class="material-icons right">save</i>save</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    var dateelems = document.querySelectorAll('.datepicker');
    var dateinstances = M.Datepicker.init(dateelems);
    var tipelems = document.querySelectorAll('.tooltipped');
    var tipinstances = M.Tooltip.init(tipelems);
  });

  function addknitfabric(event){
    var form = document.getElementById('knit_fabric_form');
    var serialno = form.querySelector('#fabricserialno').innerText;
    var fabricname = form.querySelector('#fabricname').value;
    var gsm = form.querySelector('#fabricgsm').value;
    var content = form.querySelector('#fabriccontent').value;
    var count = form.querySelector('#fabriccount').value;
    var construction = form.querySelector('#fabricconstruction').value;
    var fabrictotalwidth = form.querySelector('#fabrictotalwidth').value;
    var fabricconsumption = form.querySelector('#fabricconsumption').value;
    var fabricperunitcost = form.querySelector('#fabricperunitcost').value;
    var fabrictotal = parseFloat(fabricconsumption)* parseFloat(fabricperunitcost);
    var newRow = document.createElement("tr");
    newRow.innerHTML = '<td>'+ serialno +'</td><td>'+ fabricname +'</td><td>'+ gsm +'</td><td>'+content+'</td><td>'+count+'</td><td>'+construction+'</td><td>'+fabrictotalwidth+'</td><td>'+fabricconsumption+'</td><td>'+fabricperunitcost+'</td><td>'+fabrictotal+'</td>';
    form.parentNode.insertBefore(newRow,form);
    form.querySelector('#fabricserialno').innerText = parseInt(serialno)+1;
    form.querySelector('#fabricname').value = '';
    form.querySelector('#fabricgsm').value='';
    form.querySelector('#fabriccontent').value='';
    form.querySelector('#fabriccount').value='';
    form.querySelector('#fabricconstruction').value='';
    form.querySelector('#fabrictotalwidth').value='';
    form.querySelector('#fabricconsumption').value='';
    form.querySelector('#fabricperunitcost').value='';
  }
  function addwovenfabric(event){
    var form = document.getElementById('woven_fabric_form');
    var serialno = form.querySelector('#wovenfabricserialno').innerText;
    var fabricname = form.querySelector('#wovenfabricname').value;
    var gsm = form.querySelector('#wovenfabricgsm').value;
    var content = form.querySelector('#wovenfabriccontent').value;
    var count = form.querySelector('#wovenfabriccount').value;
    var construction = form.querySelector('#wovenfabricconstruction').value;
    var fabrictotalwidth = form.querySelector('#wovenfabrictotalwidth').value;
    var fabricconsumption = form.querySelector('#wovenfabricconsumption').value;
    var fabricperunitcost = form.querySelector('#wovenfabricperunitcost').value;
    var fabrictotal = parseFloat(fabricconsumption)* parseFloat(fabricperunitcost);
    var newRow = document.createElement("tr");
    newRow.innerHTML = '<td>'+ serialno +'</td><td>'+ fabricname +'</td><td>'+ gsm +'</td><td>'+content+'</td><td>'+count+'</td><td>'+construction+'</td><td>'+fabrictotalwidth+'</td><td>'+fabricconsumption+'</td><td>'+fabricperunitcost+'</td><td>'+fabrictotal+'</td>';
    form.parentNode.insertBefore(newRow,form);
    form.querySelector('#wovenfabricserialno').innerText = parseInt(serialno)+1;
    form.querySelector('#wovenfabricname').value = '';
    form.querySelector('#wovenfabricgsm').value='';
    form.querySelector('#wovenfabriccontent').value='';
    form.querySelector('#wovenfabriccount').value='';
    form.querySelector('#wovenfabricconstruction').value='';
    form.querySelector('#wovenfabrictotalwidth').value='';
    form.querySelector('#wovenfabricconsumption').value='';
    form.querySelector('#wovenfabricperunitcost').value='';
  }

  function addbutton(event){
    var form = document.getElementById('button_form');
    var serialno = form.querySelector('#buttonserialno').innerText;
    var buttontype = form.querySelector('#buttontype').value;
    var buttonsize = form.querySelector('#buttonsize').value;
    var consumption = form.querySelector('#buttonconsumption').value;
    var costunit = form.querySelector('#buttoncostunit').value;
    var buttoncost = form.querySelector('#buttoncost').value;
    var buttoncostperunit;
    if(costunit==='Rs/piece'){
      buttoncostperunit = parseFloat(buttoncost);
    }
    else if(costunit==='Rs/dozen'){
      buttoncostperunit = parseFloat(buttoncost)/12.0;
    }
    else if(costunit==='Rs/gross'){
      buttoncostperunit = parseFloat(buttoncost)/144.0;
    }
    buttoncostperunit = buttoncostperunit.toFixed(2);
    var buttontotalcost = parseInt(consumption)*buttoncostperunit;
    buttontotalcost = buttontotalcost.toFixed(2);
    var newRow = document.createElement("tr");
    newRow.innerHTML = '<td>'+ serialno +'</td><td colspan="2">'+ buttontype +'</td><td>'+ buttonsize +'</td><td>'+consumption+'</td><td colspan="2">'+costunit+'</td><td>'+buttoncost+'</td><td>'+buttoncostperunit+'</td><td>'+buttontotalcost+'</td>';
    form.parentNode.insertBefore(newRow,form);
    form.querySelector('#buttonserialno').innerText = parseInt(serialno)+1;
    form.querySelector('#buttontype').value='';
    form.querySelector('#buttonsize').value='';
    form.querySelector('#buttonconsumption').value='';
    form.querySelector('#buttoncostunit').value='';
    form.querySelector('#buttoncost').value='';
  }



</script>
</body>
</html>
