<!DOCTYPE html>
<html lang="en" style="min-height: 100%;">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Profile</title>
</head>
<body style="min-height: 100%;" background="../../static/media/background.jpg">
<div class="container" style="min-height: 100%">
<h3 style="color:white;">Welcome</h3>
{% if user.is_admin %}
<h5 style="color:white;">Admin</h5>
<br>
<br>
<br>
<br>
<a href='/signuprequests' class="btn">Signup requests</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href='/logoutuser' class="btn">Logout</a>
{% else %}
<h5 style="color:white;">{{user.first_name}}&nbsp;{{user.last_name}}</h5>
<h5 style="color:white;">{{user.email}}</h5>
<br>
<br>
<br>
<br>
<a href='/accounts/createcostsheet' class="btn">Create costsheet</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href='/logoutuser' class="btn">Logout</a>
<br>
<br>
<h5 style="color:white;">Your cost sheets</h5>
{% if costsheets %}
{% for costsheet in costsheets%}
<a style="color:white;" href="/accounts/previewcostsheet/?key={{costsheet.key}}" target="_blank">{{costsheet.key}}</a><br>
{% endfor %}
{% else %}
<h6 style="color:white;">No cost sheets created</h6>
{% endif %}
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
