<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Signup Requests</title>
</head>
<body style="min-height: 100%;" background="../static/media/background.jpg">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;Admin</a>
      <img class="responsive-img center" src="../static/media/Logo.png" style="height:60px;width:60px;margin-left:600px;margin-top:2px;">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logoutuser">Logout</a></li>
      </ul>
    </div>
  </nav>
<div class="container" style="background:white;content-align:center;text-align:center;">
   <h4>Signup Requests</h4>
    <table>
        <tr><th>S No.</th><th>Username</th><th>First Name</th><th>Last Name</th><th>Email</th><th>User Type</th><th>Req. Date</th><th>Accept</th><th>Reject</th></tr>
{% for request in pending_requests %}
        <tr><td>{{forloop.counter}}</td><td>{{request.user.username}}</td><td>{{request.user.first_name}}</td><td>{{request.user.last_name}}</td><td>{{request.user.email}}</td><td>{{request.user.user_type}}</td><td>{{request.user.date_joined}}</td><td><a class="btn waves-effect waves-light" href='/approverequest/?id={{request.id}}'>Accept</a></td><td><a class="btn waves-effect red waves-light" href='/disapproverequest/?id={{request.id}}'>Reject</a></td></tr>
{% endfor %}
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</div>
</body>
</html>
